.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Módulos, estructura de almacenamiento y POO utilizando el lenguaje de programación C++ (Nivel II)
            h1.curso-titulo Funciones con parámetros

            .brand-line-primary

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6

            .d-none.d-lg-block
            
                img(src="assets/images/header/header_media.svg", style="max-width: 80%")