include ../mixins/functions

+pageHeader('Funciones con parámetros', 'assets/images/header/header_media.svg')

.container#funciones

    .header-ecored

        h1 1. Funciones con parámetros
    
    .row.mx-0.recuadro1

        .col-12

            p Las funciones son pequeños módulos de un programa que se componen de diferentes líneas de código y están encargadas de ejecutar una tarea específica dentro de la solución informática.

            p La declaración de una función está compuesta por varios elementos tales como: tipo, nombre y parámetros. El tipo se trata del tipo de dato que la función va a retornar, el nombre es el identificador con que se conocerá la función dentro del programa y los parámetros son algunas de las variables que se necesitan para ejecutar la función. 
        
        .col-12

            img(src="assets/images/pages/img1.svg", style="max-width: 100%").img-fluid

        .row.mx-3.recuadro2.align-items-center.my-3

            .col-2.text-center.p-2

                img(src="assets/images/pages/img2.svg", style="max-width: 100%").img-fluid

            .col-10.p-2

                p.m-0 Internamente las funciones pueden manejar otras variables que serían variables locales, estas se declaran dentro de las líneas de código que componen la función de acuerdo con los requerimientos del programador.
        
        .col-12

            p.m-0 En el proceso de utilización de funciones, es necesario generar el prototipo de las mismas dentro del programa y se recomienda hacerlo posterior a las librerías.  La sintaxis correcta para declarar dichos prototipos es la siguiente:

        .col-12.py-4

            img(src="assets/images/pages/img3.svg", style="max-width: 100%").img-fluid

        .col-12
        
            .row.mx-0.align-items-center

                .col-1.text-center

                    img(src="assets/images/pages/img4.svg", style="max-width: 60%").img-fluid

                .col-11

                    p.m-0 
                        b Tipo: 
                        | se trata del tipo de función y debe coincidir con el tipo dato que esta va a retornar.

        .col-12.pt-3
        
            .row.mx-0.align-items-center

                .col-1.text-center

                    img(src="assets/images/pages/img5.svg", style="max-width: 60%").img-fluid

                .col-11

                    p.m-0 
                        b Nombre: 
                        | consiste en el identificador por medio del cual la función será reconocida.

        .col-12.pt-3
        
            .row.mx-0.align-items-center

                .col-1.text-center

                    img(src="assets/images/pages/img6.svg", style="max-width: 60%").img-fluid

                .col-11

                    p.m-0 
                        b TipoP: 
                        | es el tipo de parámetro que la función recibirá, para cada parámetro enviado debe indicarse el respectivo tipo.

        .col-12.pt-3
        
            .row.mx-0.align-items-center

                .col-1.text-center

                    img(src="assets/images/pages/img7.svg", style="max-width: 60%").img-fluid

                .col-11

                    p.m-0 
                        b parametro1: 
                        | consiste en el nombre dado a cada uno de los parámetros.
        
        .col-12.mt-4

            p Cada línea utilizada como el prototipo de una función debe terminar con el signo punto y coma (;).