include ../mixins/functions

+pageHeader('Funciones con parámetros', 'assets/images/header/header_media.svg')

.container#ejercicios

    .header-ecored

        h1 3. Ejercicios de funciones con parámetros
    
    .row.mx-0.recuadro1

        .col-12

            p Las funciones son pequeños módulos de un programa que se componen de diferentes líneas de código y están encargadas de ejecutar una tarea específica dentro de la solución informática.

            p La declaración de una función está compuesta por varios elementos tales como: tipo, nombre y parámetros. El tipo se trata del tipo de dato que la función va a retornar, el nombre es el identificador con que se conocerá la función dentro del programa y los parámetros son algunas de las variables que se necesitan para ejecutar la función. 
        
        .col-12

            img(src="assets/images/pages/img14.svg", style="max-width: 100%").img-fluid

        .row.mx-3.recuadro2.align-items-center.my-3

            .col-2.text-center.p-2

                img(src="assets/images/pages/img15.svg", style="max-width: 100%").img-fluid

            .col-10.p-2

                p.m-0 Se recomienda al aprendiz abrir el programa Dev-C++ e ir digitando, compilando y ejecutando los ejercicios vistos, lo anterior le servirá para adquirir la práctica necesaria en el lenguaje e irse preparando con miras a la solución de las evidencias requeridas en la actividad de aprendizaje 4.

    br

    .row.mx-0.recuadro4.justify-content-center.mx-5

        .col-5.mt-4

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_5_Parámetro por defecto.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title

                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 5] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Parámetro por defecto

        .col-5.mt-4

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_6_Mostrar_por_valor.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 6] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Mostrar por valor

        .col-5

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_7_Mostrar_por_referencia.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 7] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Mostrar por referencia

        .col-5

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_8_Dias_y_meses.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 8] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Días y meses

        .col-5

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_9_Conversion.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 9] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Conversión

        .col-5

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_10_Suma_de_un_vector.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 10] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Suma de un vector

        .col-5

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_11_Costo_llamada.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 11] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Costo llamada

        .col-5

            .card

                a.btn(href="media/documentos/MF4_Ejemplo_12_Compra_con_descuento.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/img76.svg", alt="").media-link-icon

                    .media-link-title
                        
                        .row
                            .col-12.p-0
                                p.txt-btn #[strong Ejemplo 12] 
                            .col-12.d-none.d-sm-none.d-md-none.d-lg-block.p-0
                                p.txt-btn Compra con descuento