.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Declarar:
            | escribir el prototipo de las funciones.
        
        p
            strong.mr-2 Definir:
            | escribir el conjunto de instrucciones que deben ser ejecutadas por una función.
        p 
            strong.mr-2 Función:
            | cada uno de los pequeños módulos en que puede ser dividido un programa.
        p 
            strong.mr-2 Invocar:
            | sinónimo de llamar – acción realizada cuando se va a utilizar una función.
        p
            strong.mr-2 Llamar:
            | hacer uso de una función que ha sido creada con anterioridad.
        p
            strong.mr-2 Parámetro:
            | cada uno de los datos que es pasado a una función para procesar la información y ejecutar la tarea asignada.
        p 
            strong.mr-2 Prototipo:
            | declaración de una función compuesta por una línea de código que contiene tipo, nombre y argumentos de la misma.
        p 
            strong.mr-2 Tipo:
            | clase de dato que retorna una función.
        p
            strong.mr-2 Variable global:
            | variable declarada por fuera de las funciones y que puede ser accedida por cualquier módulo del programa.
        p
            strong.mr-2 Variable local:
            | variable declarada dentro de las funciones y/o en las instrucciones de repetición que pertenecen únicamente al lugar donde se declaran (función – estructura repetitiva).