.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material

        tbody

            tr
                td 
                    strong Funciones
                td Capítulo de manual
                td 
                    a(href="media/documentos/MC_AA4_Tema5_Funciones.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar